In [ ]:
#EXPERIMENT- 4
#Name-Divij Bhandari
#PRN-25070123160

In [9]:
# creation of set
thisset = {"apple","banana","cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [7]:
thisset={"apple","banana","cherrry"}
thisset.add("orange")
print(thisset)

{'cherrry', 'apple', 'orange', 'banana'}

In [6]:
#duplicates not allowed
thisset = {"apple","banana","cherry","apple"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [5]:
# the values True and 1 are considered same value in sets and set does not allow duplicates
thisset = {"apple","banana","cherry",True,1,2}
print(thisset)

{True, 'apple', 2, 'cherry', 'banana'}

In [4]:
# to check membership
thisset = {"apple","banana","cherry"}
print("banana" in thisset)
print("grapes" in thisset)

True
False

In [3]:
# once set is created, you cannot replace its items,
# but you can add new items.
thisset = {"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'apple', 'orange', 'banana'}

In [2]:
# remove item
thisset = {"apple","banana","cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [ ]:
A={1,2,3,4}
B={3,4,5,6}

print("Union:",A | B)
print("Intersection:",A & B)
print("Diffrence:",A - B)
print("Symmetric Diffrence:",A ^ B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Diffrence: {1, 2}
Symmetric Diffrence: {1, 2, 5, 6}

In [ ]:
x=frozenset({"apple","banana","cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [ ]:
'''PROBLEM STATEMETN 1: Unique Event Participants
A college event has a list of students who registerd multiple time
 by mistake.
Write a program using set to store participants name and
 display only unique participants.'''

In [ ]:
participants = ["alex","maya","dan","jack","Bob","Noah"]
unique_Participants = set(participants)
print("Unique Participants:",unique_Participants)

Unique Participants: {'Noah', 'Bob', 'maya', 'alex', 'jack', 'dan'}

In [ ]:
'''PROBLEM STATEMENT 2: Three Students choose elective subjects.
Find the common subjects chosen by all students using set operation
concept used: Intersection(&)'''

In [ ]:
# Elective subjects chosen by three stud
stud1_subjects = {"Physics", "Chemistry", "Math", "Computer Science"}
stud2_subjects = {"Math", "Biology", "Chemistry", "English"}
stud3_subjects = {"Computer Science", "Math", "Physics", "History"}

# Find common subjects using set intersection
common_subjects = stud1_subjects & stud2_subjects & stud3_subjects

print("Student 1's subjects:", stud1_subjects)
print("Student 2's subjects:", stud2_subjects)
print("Student 3's subjects:", stud3_subjects)
print("\nCommon subjects chosen by all students:", common_subjects)

Student 1's subjects: {'Math', 'Computer Science', 'Chemistry', 'Physics'}
Student 2's subjects: {'Math', 'Biology', 'English', 'Chemistry'}
Student 3's subjects: {'Math', 'Computer Science', 'Physics', 'History'}

Common subjects chosen by all students: {'Math'}

In [ ]:
'''PROBLEM STATEMENT 3: One set contains students in the Cricket club another
in the football club.
find students who are in: 1. Both Clubs 2. In only one club
Concept used: Intersection, Symmetric Difference'''

In [ ]:
cricket = {"Amit", "Rahul", "Sneha" }
football = {"Rahul", "Neha", "Sneha"}
print ("Both clubs:", cricket & football)
print("Only one club:", cricket ^ football)

Both clubs: {'Sneha', 'Rahul'}
Only one club: {'Neha', 'Amit'}

In [ ]:
'''Problen Statement S: Remove Invalie Entries.
A set contains valid course codes.
Renove a discontanued course code fron the set.
Concept used: renovel) / discard())'''
course_codes={"CSte101","CS103", "CS182", "CS183","CS104","CSIe"}
course_codes.discard("CS103")
print(course_codes)

{'CSte101', 'CS183', 'CS182', 'CS104', 'CSIe'}

In [ ]:
 '''Problem Statement 4: Absent Students
Given a set of all students and a set of present students, find the absent
students.
Concept Used: Set difference(-)'''